# Test Wallet Address
NEXT_PUBLIC_TEST_WALLET_ADDRESS=""

# Reown (WalletConnect) - AppKit configuration
NEXT_PUBLIC_PROJECT_ID=

# World ID Configuration (For World ID v3): https://developer.worldcoin.org
#NEXT_PUBLIC_WORLDCOIN_APP_ID=
#NEXT_PUBLIC_WORLDCOIN_ACTION=

# World ID Configuration (For World ID v4): https://developer.worldcoin.org
NEXT_PUBLIC_WORLDCOIN_APP_ID=
NEXT_PUBLIC_WORLDCOIN_RP_ID=
NEXT_PUBLIC_WORLDCOIN_RP_SIGNING_KEY=


########################
# World Chain sepolia #
########################
NEXT_PUBLIC_WORLD_CHAIN_SEPOLIA_RPC_URL="https://worldchain-sepolia.g.alchemy.com/public"
NEXT_PUBLIC_WORLD_CHAIN_SEPOLIA_CHAIN_ID=4801

# The deployed-contract address of the WorldIDV3BadgeManager.sol on World Chain Sepolia.
NEXT_PUBLIC_WORLD_ID_V3_BADGE_MANAGER_ON_WORLD_CHAIN_SEPOLIA="0x0A95E7Fc5c292eCe47893E63A1380f08a061814A"
#NEXT_PUBLIC_WORLD_ID_ROUTER_ON_WORLD_CHAIN_SEPOLIA="0x57f928158C3EE7CDad1e4D8642503c4D0201f611"

########################
# World Chain mainnet #
########################
NEXT_PUBLIC_WORLD_CHAIN_MAINNET_RPC_URL="https://worldchain-mainnet.g.alchemy.com/public"
NEXT_PUBLIC_WORLD_CHAIN_MAINNET_CHAIN_ID=480

# The deployed-contract address of the WorldIDV3BadgeManager.sol on World Chain Mainnet.
NEXT_PUBLIC_WORLD_ID_VERIFIER_ON_WORLD_CHAIN_MAINNET=""
#NEXT_PUBLIC_WORLD_ID_ROUTER_ON_WORLD_CHAIN_MAINNET="0x17B354dD2595411ff79041f930e491A4Df39A278"
