# Reown (WalletConnect) - AppKit configuration
NEXT_PUBLIC_PROJECT_ID=

# World ID Configuration (For World ID v3)
#NEXT_PUBLIC_WORLDCOIN_APP_ID=
#NEXT_PUBLIC_WORLDCOIN_ACTION=

# World ID Configuration (For World ID v4)
NEXT_PUBLIC_WORLDCOIN_APP_ID=
NEXT_PUBLIC_WORLDCOIN_RP=